.card-login{
  height: 650px;  
  width: 450px;
  margin: 150px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
}

.card-inputs{
    align-items: center;
    height: 650px;
    line-height: 50%;
    width: 450px;
    display: grid;
    margin: 0;
}

.card-typography{
    text-align: center;
}

.card-btn{
    height: 40px;
    width: 350px;
}
.input-field{
    height: 100px;
    width: 350px;
}

.inputs{
    display: grid;
    padding: 5px;
    line-height: 20px;
    width: 450px;
    height: 380px;
    padding: 50px;
    margin-top: -120px;
}

.href-signup{
    width: 350px;
    height: 50px;
    margin-left: 12%;
}

.href-typography{
    text-align: center;
    top: 50%;
}

.error{
    text-align: center;
    padding-top: -30%;
    color: red;
}

.g-btn {
    margin-left: 25%;
}