* {
    box-sizing: border-box;
    margin: 0;
  }
  
  :root {
    --heights: 80vh;
    --widths: 100%;
  }
  
  .slider-container {
    height: var(--heights);
    width: var(--widths);
    position: relative;
    margin: auto;
    margin-top: 60px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  
  .active {
    display: inline-block;
  }
  
  .inactive {
    display: none;
  }
  
  .slides {
    height: var(--heights);
    width: var(--widths);
    position: relative;
  }
  
  .slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 100%;
    z-index: 11;
  }
  .slider-container-gradient:before{
    background-color: transparent;
    opacity: .65;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#010711), color-stop(34%, rgba(27, 26, 26, .65)));
    background-image: linear-gradient(180deg, #010711 0, rgba(27, 26, 26, .65) 34%);
  }
  .slider-container:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(27, 26, 26, .25);
  }
  .slide-title,
  .slide-text {
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 50px;
    position: absolute;
 
    top: 0;
    z-index: 12;
    opacity: 0.5;
  }
  .slide-title{
    padding: 250px 450px;
    text-align: center;

  }
  .slide-text {
    top: 65%;
    font-size: 2rem;
  }


  
  .prev,
  .next {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -3rem;
    font-size: 40px;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
    color: white;
  }
  

  .prev:hover,
  .next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in;
  }
  
  .next {
    right: 0;
    border-radius: 5px 0px 0px 5px;
  }
  
  .all-dots {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 85%;
    justify-content: center;
    z-index: 200;
  }
  
  .dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0px 3px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: inline-block;
  }
  
  .active-dot,
  .dot:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
